# Google Cloud Config
PROJECT_ID="your-project-id"

# Gemini Enterprise Config
GE_LOCATION="global"
ENGINE_ID="your-discovery-engine-id"  # Browse to Gemini Enterpirse > Apps using Google Cloud Console and collect the ID for a given app

# BigQuery Analytics Config
BQ_LOCATION="us"
DATASET_ID="gemini_analytics"
TABLE_ID="monthly_leaderboard"

# Log Sink Config
SINK_NAME="gemini_agent_creators"